@layer components {
  .numbered-list {
    @apply inline-flex flex-col;
    text-shadow: none;
    counter-reset: list-number;

    a {
      @apply relative flex items-center rounded bg-transparent bg-black bg-opacity-0 p-1.5 pr-3 leading-none transition hover:bg-opacity-10;

      &:hover:before {
        /* @apply text-primary; */
      }
    }

    a:before {
      counter-increment: list-number;
      content: counter(list-number);

      @apply text-primary-500 bg-primary-900 mr-3 inline-flex h-6 w-7 -skew-y-6 transform items-center justify-center text-xs font-semibold leading-none;
    }
  }
}
